<h1>Welcome to app</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla deserunt architecto itaque nihil maiores. Nam minus quod laudantium quos minima repudiandae, excepturi odit nobis! Eaque eveniet unde voluptates consequuntur! </p>
<%=camp.comments%>
