<div class="container">

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1 class="page-header">User Registration</h1>
      <form (submit)="onFormSubmit()" role="form">
        <div class="form-group">
          <label for="">Name</label>
          <input [(ngModel)]="name" name="name" type="text" class="form-control" id="" required>
        </div>
        <div class="form-group">
          <label for="">Username</label>
          <input [(ngModel)]="username" name="username" type="text" class="form-control" id="" required>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="email" name="email" type="text" class="form-control" id="" required>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="password" name="password" type="text" class="form-control" id="" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
